
#set($docId = $doc.getFirstValue($request.schema.uniqueKeyField.name))

## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')


## Text
#if($doc.getFieldValue('jbo_text'))
  #set($text = $doc.getFirstValue('jbo_text'))
#else
  #set($text = "no text")
#end

## Title
#if($doc.getFieldValue('rdfs_label'))
  #set($title = $doc.getFirstValue('rdfs_label'))
#else
  #set($title = "")
#end


## Sort out Mime-Type
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFirstValue('resourcename'))
#set($filetype = false)
#set($filetype = $mimeExtensionsMap.get($ct))
#if(!$filetype)
  #set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))
#end
#if(!$filetype)
  #set($filetype = "file")
#end
#if(!$supportedMimeTypes.contains($filetype))
  #set($filetype = "file")
#end

<div class="result-document">
  <!-- <span class="result-text">	
    <b><u>$title</u></b><br><br>
    <b>$newText</b>
  </span> -->

  <div class="uri">
    $docId </br>
  </div>


 <span class="result-text">
   <b><u>$title</u></b><br><br>
    #set($pad = "")
  #foreach($v in $response.response.highlighting.get($docId).get("jbo_text"))
    ##$pad$esc.html($v).replace("HL_START","<em>").replace("HL_END","</em>")
     <b>$pad$v</b>
    #set($pad = " ... ")
  #end
 </span>

</div>

<a href="#" class="debug" onclick='jQuery(this).next().toggle(); return false;'>toggle explain</a>
<pre class="debug-info" style="display: none;">
    <span class="debug-info">$esc.html($response.getExplainMap().get($doc.getFirstValue('uri')))</span>
</pre>

<a href="#" class="debug" onclick='jQuery(this).next().toggle(); return false;'>show all fields</a>
<pre style="display:none;">
  #foreach($fieldname in $doc.fieldNames)
    <span>$fieldname :</span>
    <span>#foreach($value in $doc.getFieldValues($fieldname))$esc.html($value)#end</span>
  #end
  #set($query = $request.params.get('q'))
  #set($queryList = $query.split(" "))
  #foreach($queryWord in $queryList)
   <span>$queryWord</span>
  #end
</pre>

